{% load static %}

<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" href="{% static 'img/fav.png' %}">
	<meta name="author" content="CodePixar">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta charset="UTF-8">

	<!-- Site Title -->
	<title>Karma Shop - {% block title %}{% endblock %}</title>

	<!-- CSS  -->
	{% include "link.html" %}

</head>

<body>
	{% include "header.html" %}

    {% block content %}
    {% endblock %}

    {% include "footer.html" %}
	<!-- JS  -->
	{% include "script.html" %}
</body>